* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .nav-list, li, a {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-list {
    color: white;
  }
  .nav-list:hover {
    color: #445626;
  }
  li:hover {
    color: #445626;
  }
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px ;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.15);
    position: fixed;
    top: 0;
    z-index: 2;
  }
  h1 {
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  .abrigo {
    color: #445626;
  }
  .navbar {
    display: flex;
    list-style: none;
    cursor: pointer;
  }
  .navbar li {
    display: inline-block;
    padding: 0px 20px;
  }
  section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #02231c, #004d25, #11823b, #48bf53, #91f086);
    background-size: 400% 400%;
    width: 100%;
    animation: animate 10s ease infinite;
  }
  .greeting {
    position: relative;
    padding: 35vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
  }
  .about-me-title {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
  }
  .about-me-subhead {
    font-family: 'Roboto Slab', serif;    
    font-size: 22px;
  }
  .about-me {
    min-height: 100vh;
    padding: 10vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;    
    color: black;
    font-size: 40px;
  }

  footer {
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #3b3c36;
    font-family: 'Roboto Slab', serif;    
  }
  @keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
  .toggle-button {
    display: none; /* Hide the button by default on larger screens */
    // Add styles for the toggle button as needed
  }
  
  @media only screen and (max-width: 900px) {
    .greeting {
      font-size: 20px;
      text-align: center;
      padding: 375px 0;
      position: relative;
    }
    .nav-list {
      visibility: hidden;
    }
    h1 {
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin: auto;
    }
    .abrigo {
      color: #445626;
    }
    header {
      display: flex;
      justify-content: space-evenly;
      width: 100vw;
      padding: 10px ;
      font-family: 'Montserrat', sans-serif;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.15);
      position: fixed;
      top: 0;
    }
    .navbar {
      display: flex;
      list-style: none;
      cursor: pointer;
    }
    .navbar li {
      display: inline-block;
      padding: 0px 20px;
    }
    .toggle-button {
      display: inline-block; /* Show the button on smaller screens */
      cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
      width: 25px;
      background-color: #333;
      height: 3px;
      margin: 4px 0;
      transition: 0.4s;
    }

  }
