* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .nav-list, li, a {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .nav-list {
    color: white;
  }
  .nav-list:hover {
    color: #445626;
  }
  li:hover {
    color: #445626;
  }

  header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.15);
    position: fixed;
    top: 0;
    transition: top 1.5s;
    z-index: 2;

    &.scrolled {
      top: -100px;
    }
  }
  
  h1 {
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .abrigo {
    color: #445626;
  }
  
  .navbar {
    display: flex;
    list-style: none;
    margin-left: auto; /* Push the navbar to the right */
  }
  
  .navbar li {
    padding: 0px 20px;
  }
  
  .nav-list {
    margin-left: auto; /* Push the Contact link to the right */
  }
  
  section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #02231c, #004d25, #11823b, #48bf53, #91f086);
    background-size: 400% 400%;
    width: 100%;
    animation: animate 10s ease infinite;
  }
  .greeting {
    position: relative;
    padding: 35vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
  }
  .about-me-title {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
  }
  .about-me-subhead {
    font-family: 'Roboto Slab', serif;    
    font-size: 22px;
  }
  .about-me {
    min-height: 100vh;
    padding: 10vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;    
    color: black;
    font-size: 40px;
  }
  // ------------ Project Highlights ------------
  .projects {
    background-color: #333;
    height: 200vh;
  }
  .proj-title {
      color: #fff;
      font-size: 60px;
      font-family: 'Montserrat', sans-serif;
      padding-top: 10vh;
      padding-bottom: 5px;
      margin-left: 50px;
  }
  .proj-desc {
      font-family: 'Roboto Slab', serif;    
  }
  // .project-highlights-container {
  //   img {
  //     height: 325px;
  //   }
  //   img:hover {
  //     cursor: pointer;
  //     opacity: 50%;
  //     transition: 0.5s;
  //   }

  // }

  .projects-left {
    margin-left: 125px;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    margin-top: 50px;
    color: white;
    .left {
      flex: 0 0; 
      height: 400px;
      margin-right: 25px;
      width: 100%;
      text-align: center;
    } 
    .visit-site {
      display: none;
    }
    .left:hover{
      .visit-site {
        display: block;
      }
      cursor: pointer;
    }
  
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 600px; 
      font-size: 15px;
      margin-right: auto;
      height: 325px;
    }
  }

  .projects-right {
    margin-left: 125px;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    margin-top: 50px;
    color: white;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 600px; 
      height: 325px;
      margin-right: 25px;
      text-align: right;
  } 
    .visit-site {
      display: none;
    }
    .right:hover {
      .visit-site {
        display: block;
      }
      cursor: pointer;
    }
  
    .right {
        flex: 0 0; 
        font-size: 15px;
        margin-right: auto;
        height: 400px;
    }
  }

  .icon-projects {
    height: 40px;
  }

  .icon-projects:hover {
    opacity: 50%;
    transition: 0.5s;
  }

  footer {
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #3b3c36;
    font-family: 'Roboto Slab', serif;    
  }
  @keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }
  .toggle-button {
    display: none; /* Hide the button by default on larger screens */
    // Add styles for the toggle button as needed
  }
  
  @media only screen and (max-width: 900px) {
    .greeting {
      font-size: 20px;
      text-align: center;
      padding: 375px 0;
      position: relative;
    }
    .nav-list {
      visibility: hidden;
    }
    h1 {
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin: auto;
    }
    .abrigo {
      color: #445626;
    }
    header {
      display: flex;
      justify-content: space-evenly;
      width: 100vw;
      padding: 10px ;
      font-family: 'Montserrat', sans-serif;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.15);
      position: fixed;
      top: 0;
    }
    .navbar {
      display: flex;
      list-style: none;
      cursor: pointer;
    }
    .navbar li {
      display: inline-block;
      padding: 0px 20px;
    }
    .toggle-button {
      display: inline-block; /* Show the button on smaller screens */
      cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
      width: 25px;
      background-color: #333;
      height: 3px;
      margin: 4px 0;
      transition: 0.4s;
    }

  }
