.about-me-context {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    margin: 25px;
    .left {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .right {
        flex: 1;
        margin: auto;
        font-size: 15px;
    }
    .right img {
        margin: 15px;
    }
    .right img:hover {
        filter: invert(0.50);
    }
}