.projects {
    background-color: white;
    height: 100vh;
    text-align: center;
}
.proj-title {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10vh;
    padding-bottom: 5px;
}
.proj-desc {
    font-family: 'Roboto Slab', serif;    
}