@media only screen and (max-width: 900px) {
    .projects {
        height: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto; /* to center the container horizontally */
      }      
      
  }