.projects-page-card {
    display: flex;
    margin: 75px auto;
    background-color: black;
    width: 1000px;
    height: 600px;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .projects-page-card {
        width: 350px;
        height: 500px;
    }
  }