.skills {
  height: 100vh;
  background-color: #11823b;
  display: flex;
  justify-content: center;
  align-items: center;

  .skills-container {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;

    .column {
      flex: 1;
      padding: 20px;
      
      &:not(:last-child) {
        border-right: 0.5px solid lightgrey;
      }
    }

    p {
      padding-bottom: 40px;
    }

    .skills-title {
      padding-bottom: 25px;
    }

    .summary-title {
      padding-bottom: 15px;
      color: #445626;
    }
  }
}


/* Add additional styles for grid items if needed */

.icon{
    height: 6vh;
} 
.vscode-icon, .postman-icon, .github-icon, .figma-icon {
    height: 6vh;
}

  
