.contact-form {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    height: 600px;
    width: 1000px;
    overflow: hidden;
    max-width: 1000px;
    .left {
        flex: 1;
        background: linear-gradient(rgba(0, 255, 119, 0.5), rgba(5, 61, 0, 0.5)),
        url("https://cdn.myportfolio.com/236bd5a5-dac3-43d9-aa46-b21cfd636638/2d01ebc5-03d6-43f4-8a22-5689b21c41e9_rw_1920.jpg?h=5342e4b945b93e6cfa71ad82c1ebffa7") center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        justify-content: center;
    }
    .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }
}